.black-box {
    margin-left: 80px;
    width: 200px;
    height: 600px;
    background-color: #333333;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.4);
  }
  
  .light {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
  
  .inactive {
    background-color: #555555;
  }
  
  .red {
    background-color: red;
  }
  
  .amber {
    background-color: rgb(229, 255, 0);
  }
  
  .green {
    background-color: chartreuse;
  }
  